@import "tailwindcss";
button{
    cursor: pointer;
}
button:disabled{
    cursor: default;
}
@theme {
    --color-purple2: #d8d8fc;
    --color-purple6: #5448e4;
    --color-purple5: #c0b4f0;
    --color-grey2: #e6e9ed;
    --color-grey1: #eeeeef;
    --color-grey6: #95989c;
}