@import "tailwindcss";

@theme {
    --color-purple2: #d9ddee;
    --color-purple6: #7164c0;
    --color-purple5: #9492db;
    --color-grey2: #e6e9ed;
    --color-grey1: #eeeeef;
    --color-grey6: #95989c;
}